@model RewardsProgramMVC.Models.RetailersModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RetailersModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSpent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalRewardsEarned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalRewardsEarned)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "GetAllRetailerDetails")
</p>
